@mixin separator {
  height: 0px;
  border: none;
  border-bottom: 1px solid transparent;
  margin-top: 15px;
  margin-bottom: 15px;
}

@mixin separator--line {
  border-bottom: 1px solid #ddd;
}

@mixin text-field {
  border: 1px solid #ddd;
  margin: 0;
  padding: 0 0.5em;
  border-radius: 0px;
}
