// colors

$primary-color: #1792D0;
$primary-color--lighter: #00A6E1;
$primary-color--darker: #0066A1;
$primary-color--darkest: #085191;

$text-color: #181818;
$text-color--lighter: rgba(24,24,24,0.6);
