.dashboard {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  max-width: $fullwidth;
  margin: auto;
  padding: 2px;

  .dashboard__sections {
    margin: 10px;

    .section__group {
      margin: 0;
      margin-bottom: 2.5rem
    }

    .section__title {
      background-color: $base-medium-color;
      margin: $defaultPadding 0;
      padding: 0 $defaultPadding;
      color: white;
      text-align: left;
    }

    .section__name-with-icon {
      font-weight: bold;
      font-size: $headline-font-size;
      line-height: 1.5em;
      vertical-align: baseline;
      padding-left: 4px;

      &:before {
        font-family: $icon-font-family;
        font-size: 0.8em;
        line-height: 1.5em;
        vertical-align: baseline;
        content: " "; // "\E001";
        padding-right: 10px;
      }

      &.tagesgeld:before {
        content: $tagesgeld; // "\e001";
      }

      &.festgeld:before {
        content: $festgeld; // "\e00e";
      }

      &.hypotheken:before {
        content: $hypotheken-darlehen; // "\e008";
      }
    }

    .card__single {
      transition: height 3s;

    }

    .segment__title {
      padding-bottom: 0;
      position: relative;

      .title__hint {
        position: absolute;
        right: $defaultPadding;
        color: $neutralDarkColor;
      }

    }

    .segment__bottom {
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }

    .segment__noentries {
      text-align: center;
      vertical-align: middle;
      line-height: 100px;
    }

    .segment__content {
      margin-bottom: 2.5rem;

      &.loading {
        opacity: 0;
        transition: opacity 3000ms ease-in-out;
      }

      &.loaded {
        opacity: 1;
        transition: opacity 3000ms ease-in-out;
      }

      .item {
        &__bank {
          text-align: left;
          vertical-align: top;
          font-variant: small-caps;
        }

        &__date {
          text-align: left;
          vertical-align: top;
          width: 2rem;
        }

        &__rang {
          text-align: left;
          width: 1rem;
        }

        &__interest {
          text-align: right;
        }

        &__diff {
          text-align: right;
          vertical-align: top;
          min-width: 74px;

          @include tendence-color();
          @include direction-arrows();

        }

        &__category {
          width: 33%;
        }

        &__price {
          font-weight: bold;
          width: 33%;
        }

        &__trend {
          width: 1px;
          @include tendence-color();
          @include direction-arrows();
        }

        &__location {
          width: 50%;
        }

        &__amount {
          font-weight: bold;
          width: 15%;
        }

        &__lights {
          width: 35%;
          @include ligths-circles();
        }

        &__comparename {
          width: 50%;
        }

        &__priceright {
          width: 50%;
          text-align: right;
        }

        &__noentries {
          padding-top: 2rem;
          font-variant: small-caps;
          font-size: 120%;
          text-align: center;
        }


      }

      .content__table-iib {
        margin-bottom: $defaultPadding;
        margin-left: auto;
        margin-right: auto;

        td {
          line-height: 1.2em;
        }

        .item {
          &__class {
            width: 50%;
            font-size: 110%;
            font-variant: small-caps;
          }

          &__price {
            width: 50%;
            @include iib-tendence();
          }
        }

      }

      .content__center {
        &.iib-dichte-light {
          margin: 1rem auto;

          .item__lights {
            font-size: 150%;
            font-weight: bold;
            font-variant: small-caps;

            &:before {
              font-size: 120%;
            }
          }
        }

        &.iib-dichte-text {
          font-size: 120%;
          padding-bottom: $defaultPadding;
        }
      }

      .content__table {
        &.iib-vergleich-tabelle {
          margin: $defaultPadding auto;

          th {
            text-align: left;
            text-transform: uppercase;
            font-weight: normal;
          }

          td, th {
            line-height: 1.2em;
          }

          .item {
            &__count {
              width: 20%;
            }

            &__expensive, &__cheap {
              width: 40%;
              font-weight: bold;

              .exp-link {
                color: $iib-primary-color;

                &:after {
                  content: "\e016";
                  font-family: $icon-font-family;
                  font-size: $small-font-size;
                  line-height: $small-font-size;
                  vertical-align: middle;
                  padding-left: $defaultPadding;
                  padding-bottom: 2px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__nodata {
    margin: 10px;
    padding: $defaultPadding;
    width: $fullwidth - 32px;
    background: $neutralLightColor;

    h4 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.dashboard__domains {

  .domains {
    &__intro {
      padding: 22px;
    }

    &__tabby {
      padding: 22px;

      .logo {
        height: 42px;
      }

    }

  }
}

.dashboard__domain {
  margin-top: 3rem;

  .logobar {
    width: 100%;
    text-align: right;
    float: right;
    padding: $defaultPadding;
    margin-bottom: -4rem;
    padding-right: 19px;
    display: none;

    .logo {
      width: 300px;
    }

    @media screen and (min-width: 1075px) {
      display: block;
    }
  }

  .domain__intro {
    min-width: 250px;
    margin: 15px 10px;

    .intro {
      &__logobar {
        width: 100%;
        text-align: right;
        float: right;
        padding: $defaultPadding;
        margin-bottom: -4rem;
        padding-right: 19px;

        .logo {
          width: 300px;
        }
      }
    }
  }

  .domain__logobar {
    width: 360px;
  }
}

.domain__localizator {
  line-height: 2em;
  margin: 10px;
  border: 1px solid $base-medium-color;
  padding: $defaultPadding;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  @media screen and (min-width: 1075px) {
    flex-direction: row;
  }

  .current, .search {
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: baseline;

    @media screen and (min-width: 1075px) {
      width: 50%;
      flex-direction: row;
    }
  }

  .search {
    justify-content: flex-end;
  }

  ul {
    color: rgba(30, 39, 46, 1.0);
    list-style: none;
    margin: 0;
    padding: .5rem 0rem;
  }

  li {
    margin: 0 0 0 0;
    border-radius: 4px;
    padding: 0.5rem;
    align-items: center;
  }

  li:hover {
    cursor: pointer;
  }

  .autosuggest__results-container {
    display: block;
    background-color: white;
    justify-content: center;
    z-index: 100;
    position: absolute;
    margin-right: 20px;
  }

  #autosuggest {
    display: inline;
    font-size: 14px;
  }

  .autosuggest__results-item--highlighted {
    background-color: rgba(64, 64, 64, 0.2);
  }

  .search {
    text-align: right;
  }

  .current {
    span {
      line-height: 2em;
    }
  }

  .label {
    font-style: italic;
    padding-right: $defaultPadding;
  }

  .city {
    font-size: 1.1em;
    font-weight: bold;
  }

  .button {
    text-align: right;
    padding-left: $defaultPadding;
  }
}


.domains__scrollist {
  margin-top: 2rem;
  display: flex;
  flex-flow: wrap;

  .subline {
    margin: 6px 0;
  }

  li {
    list-style: none;
  }

  li .fmh {
    color: $base-medium-color;
  }

  a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: $neutralDarkColor;
    box-shadow: none;
    outline: none;
    //font-size: 20px;
  }

  .company__list {
    padding-left: 9px;
    width: 48%;
    @media only screen and (max-width: $bp-m) {
      width: 100%;
      padding-bottom: 1rem;
    }

    .logobox {
      height: 52px;
    }

    .logo {
      width: auto;
      max-height: 40px;
      padding-right: 19px;
    }
  }

  .section__list {
    padding-left: 0;

    li {

      &:hover a {
        color: $base-link-color;

      }

      &:before {
        //font-family: $icon-font-family;
        content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cpolygon%20id%3D%22Path%22%20fill%3D%22%23000000%22%20fill-rule%3D%22nonzero%22%20points%3D%229.52226721%206%208%207.41%2012.9446694%2012%208%2016.59%209.52226721%2018%2016%2012%22%3E%3C%2Fpolygon%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
        //content: $arrow-down;
        //content: '⟩';
        font-size: $small-font-size;
        line-height: $small-font-size;
        vertical-align: middle;
        padding-right: $defaultPadding;
        padding-bottom: 2px;
        color: $neutralDarkColor;
        line-height: 20px;
        padding-top: 11px;
      }

      &:hover:before {
        color: $base-link-color;
      }
    }
  }

}

.domains__backtotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  outline: none;
  background-color: unset;

  &.show {
    display: block;
  }

  button {
    display: block;
    @media only screen and (max-width: $bp-s) {
      display: inline;
    }
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    padding: $defaultPadding;
    font-size: $standard-font-size;
    cursor: pointer;
    background-color: $neutralDarkColor;
    color: $neutralLightColor;
    box-shadow: none;

    &:hover {
      background-color: $neutralLightColor;
      border-color: $neutralDarkColor;
      color: $neutralDarkColor;
    }
  }

  button::-moz-focus-inner {
    border: 0;
  }

}