.dashboard {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  max-width:  $fullwidth;
  margin: auto;
  padding: 2px;

  .dashboard__sections {
    margin: 10px;

    .section__group {
      margin: 0;
      margin-bottom: 2.5rem
    }

    .section__title {
      background-color: $base-medium-color;
      margin: $defaultPadding 0;
      padding: 0 $defaultPadding;
      color: white;
      text-align: left;
    }

    .section__name-with-icon {
      font-weight: bold;
      font-size: $headline-font-size;
      line-height: 1.5em;
      vertical-align: baseline;
      padding-left: 4px;
      &:before {
        font-family: FmhIcons;
        font-size: 0.8em;
        line-height: 1.5em;
        vertical-align: baseline;
        content: " "; // "\E001";
        padding-right: 10px;
      }
      &.tagesgeld:before {
        content: $tagesgeld; // "\e001";
      }
      &.festgeld:before {
        content: $festgeld; // "\e00e";
      }
      &.hypotheken:before {
        content: $hypotheken-darlehen; // "\e008";
      }
    }

    .card__single {
      transition: height 3s;

    }

    .segment__title {
      padding-bottom: 0;
      position: relative;

      .title__hint {
        position: absolute;
        right: $defaultPadding;
      }

    }

    .segment__bottom {
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }

    .segment__noentries {
      text-align: center;
      vertical-align: middle;
      line-height: 100px;
    }

    .segment__content {
      margin-bottom: 2.5rem;

      &.loading {
        opacity: 0;
        transition: opacity 3000ms ease-in-out;
      }
      &.loaded {
        opacity: 1;
        transition: opacity 3000ms ease-in-out;
      }

      .item {
        &__bank {
          text-align: left;
          vertical-align: top;
          font-variant:small-caps;
        }

        &__date {
          text-align: left;
          vertical-align: top;
          width: 2rem;
        }

        &__rang {
          text-align: left;
          width: 1rem;
        }

        &__interest {
          text-align: right;
        }

        &__diff {
          text-align: right;
          vertical-align: top;
          min-width: 74px;

          @include tendence-color();
          @include direction-arrows();

        }
        &__category {
          width: 33%;
        }
        &__price {
          font-weight: bold;
          width: 33%;
        }
        &__trend {
          width: 1px;
          @include tendence-color();
          @include direction-arrows();
        }
        &__location {
          width: 50%;
        }
        &__amount {
          font-weight: bold;
          width: 15%;
        }
        &__lights {
          width:  35%;
          @include ligths-circles();
        }
        &__comparename {
          width: 50%;
        }
        &__priceright {
          width: 50%;
          text-align: right;
        }

        &__noentries {
          padding-top: 2rem;
          font-variant: small-caps;
          font-size: 120%;
          text-align: center;
        }


      }

      .content__table-iib {
        margin-bottom: $defaultPadding;
        margin-left: auto;
        margin-right: auto;

        td {
          line-height: 1.2em;
        }

        .item {
          &__class {
            width: 50%;
            font-size: 110%;
            font-variant: small-caps;
          }
          &__price {
            width: 50%;
            @include iib-tendence();
          }
        }

      }
      .content__center {
        &.iib-dichte-light {
          margin: 1rem auto;
          .item__lights {
            font-size: 150%;
            font-weight: bold;
            font-variant: small-caps;
            &:before {
              font-size: 120%;
            }
          }
        }
        &.iib-dichte-text {
          font-size: 120%;
          padding-bottom: $defaultPadding;
        }
      }

      .content__table {
        &.iib-vergleich-tabelle {
          margin: $defaultPadding auto;
          th {
            text-align: left;
            text-transform: uppercase;
            font-weight: normal;
          }
          td, th {
            line-height: 1.2em;
          }
          .item {
            &__count {
              width: 20%;
            }
            &__expensive, &__cheap {
              width: 40%;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.dashboard__domains {

  .domains {
    &__intro {
      padding: 22px;
    }
    &__tabby {
      padding: 22px;

      .logo {
        height: 42px;
      }

    }

  }
}
.dashboard__domain {
  margin-top: 3rem;

  .domain__intro {
    min-width: 250px;
    margin: 15px 10px;

    .intro {
      &__logobar {
        width: 100%;
        text-align: right;
        float: right;
        padding: $defaultPadding;
        margin-bottom: -4rem;
        padding-right: 19px;

        .logo {
          width: 300px;
        }
      }
    }
  }
}

.domain__localizator {
  margin: 12px;
  border: 1px solid $base-medium-color;
  padding: $defaultPadding;
  border-radius: 4px;
  display: flex;

  .current, .search {
    width: 50%;
    height: 2rem;
  }
  .current {
    span {
      line-height: 2em;
      vertical-align: middle;
    }
  }
  .label {
    font-style: italic;
  }
  .city {
    font-size: 1.1em;
    color: $base-medium-color;
    font-weight: bold;
  }
  .button {
    text-align: right;
  }
}


.domains__scrollist {
  margin-top: 2rem;
  display: flex;
  flex-flow: wrap;

  .subline {
    margin: 6px 0;
  }

  li {
    list-style: none;
  }

  a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: $neutralDarkColor;
    box-shadow: none;
    outline: none
  }

  .company__list {
    padding-left: 19px;
    width: 48%;
    @media only screen and (max-width: $bp-m) {
      width: 100%;
      padding-bottom: 1rem;
    }
    .logobox {
      height: 52px;
    }
    .logo {
      width: 360px;
      padding-right: 19px;
    }
  }

  .section__list {
    padding-left: 0;
    li {
      &:hover a {
        color: $base-link-color;

      }
      &:before {
        font-family: "FmhIcons";
        content: $arrow-down;
        font-size: $small-font-size;
        line-height: $small-font-size;
        vertical-align: middle;
        padding-right: $defaultPadding;
        padding-bottom: 2px;
        color: $neutralDarkColor;
      }
      &:hover:before {
        color: $base-link-color;
      }
    }
  }

}

.domains__backtotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  outline: none;
  background-color: unset;

  &.show {
    display: block;
  }

  button {
    display: block;
    @media only screen and (max-width: $bp-s) {
      display: inline;
    }
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    padding: $defaultPadding;
    font-size: $standard-font-size;
    cursor: pointer;
    background-color: $neutralDarkColor;
    color: $neutralLightColor;
    box-shadow: none;
    &:hover {
      background-color: $neutralLightColor;
      border-color: $neutralDarkColor;
      color: $neutralDarkColor;
    }
  }

  button::-moz-focus-inner {
    border: 0;
  }

}