/*************************************
* Transitions for the Vue-Components
**************************************/
.slide-and-fade-enter-active, .slide-and-fade-leave-active {
  transition: max-height 1s ease-in-out, opacity 500ms ease-in-out;
}
.slide-and-fade-enter, .slide-and-fade-leave-to  {
  max-height: 50px;
  opacity: 0;
}
.slide-and-fade-enter-to, .slide-and-fade-leave {
  max-height: 250px;
  opacity: 1;
}

.slide-enter-active, .slide-leave-active {
  transition: max-height 5s ease-in-out;
}
.slide-enter, .slide-leave-to  {
  max-height: 1px;
}
.slide-enter-to, .slide-leave {
  max-height: 400px;
}