$primary-color-main: $iib-primary-color;
$secondary-color-main: $iib-secondary-color;
$background-color-main: #ffffff;

$title-bar-background: $secondary-color-main;
$page-title-color: $primary-color-main;

$button-active_background:  $primary-color-main ;
$button-active_border: 2px solid $background-color-main;
$button-active_color: $background-color-main;
$button-hover_background:  $background-color-main;
$button-hover_border: 2px solid $primary-color-main;
$button-hover_color: $primary-color-main;

.flavour--iib {
  .page__title, .intro__title {
    color: $primary-color-main;
  }

  .dashboard__sections .section__title {
    background-color: $title-bar-background;
  }

  button.more-button {
    color: $button-active_color;
    background: $button-active_background repeat scroll 0 0;
    border: $button-active_border;
     &:hover {
      color: $button-hover_color;
      background: $button-hover_background repeat scroll 0 0;
      border: $button-hover_border;
    }
  }

  .domain__localizator {
    border-color:$primary-color-main;
    .city {
      color: $primary-color-main;
    }
  }
}