//TODO Documentation
@mixin set-cards-with($l-width, $m-width, $s-width, $xs-width) {
    width: calc(#{$l-width} - #{$gutter} - 3px);
    @media only screen and (max-width: $bp-l) {
      width: calc(#{$m-width} - #{$gutter} - 2px);
    }
    @media only screen and (max-width: $bp-s) {
      width: calc(#{$s-width} - #{$gutter} - 2px);
    }
    @media only screen and (max-width: $bp-xs) {
      width: $xs-width;
    }
}

//TODO Documentation
@mixin tendence-color() {
  &.good {
    color: $tendence-good-color-dark;
  }
  &.bad {
    color: $tendence-bad-color-dark;
  }
  &.inverted.good {
    color: $tendence-bad-color-dark;
  }
  &.inverted.bad {
    color: $tendence-good-color-dark;
  }
  &.normal.good {
    color: $tendence-good-color-dark;
  }
  &.normal.bad {
    color: $tendence-bad-color-dark;
  }
}

//TODO Documentation
@mixin direction-arrows() {
  &.down {
    &:after {
      font-family: $icon-font-family;
      content: '\E014';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
    }
  }
  &.up {
    &:after {
      font-family: $icon-font-family;
      content: '\E012';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
    }
  }
}

//TODO Documentation
@mixin ligths-circles() {
  &.greenlight {
    &:before {
      font-family: $icon-font-family;
      content: '\e90a';
      font-size: $title-font-size;
      line-height: $title-font-size;
      vertical-align: middle;
      padding-right: $defaultPadding;
      padding-bottom: 2px;
      color: $goodColor;
    }
  }
  &.yellowlight {
    &:before {
      font-family: $icon-font-family;
      content: '\e90a';
      font-size: $title-font-size;
      line-height: $title-font-size;
      vertical-align: middle;
      padding-right: $defaultPadding;
      padding-bottom: 2px;
      color: $neutralColor;
    }
  }
  &.redlight {
    &:before {
      font-family: $icon-font-family;
      content: '\e90a';
      font-size: $title-font-size;
      line-height: $title-font-size;
      vertical-align: middle;
      padding-right: $defaultPadding;
      padding-bottom: 2px;
      color: $badColor;
    }
  }
}

@mixin iib-tendence() {
  &.iib-tendenz-1 {
    &:after {
      font-family: $icon-font-family;
      content: '\e013';
      transform: rotate(90deg);
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
      color: $badColor;
    }
  }
  &.iib-tendenz-2 {
    &:after {
      font-family: $icon-font-family;
      content: '\e012';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
      color: $badColor;
    }
  }
  &.iib-tendenz-3 {
    &:after {
      font-family: $icon-font-family;
      content: '\e013';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
      color: $neutralDarkColor;
    }
  }
  &.iib-tendenz-4 {
    &:after {
      font-family: $icon-font-family;
      content: '\e014';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
      color: $goodColor;
    }
  }
  &.iib-tendenz-5 {
    &:after {
      font-family: $icon-font-family;
      content: '\e013';
      transform: rotate(-90deg);
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
      color: $goodColor;
    }
  }
}
