//TODO Documentation
@mixin set-cards-with($l-width, $m-width, $s-width, $xs-width) {
    width: calc(#{$l-width} - #{$gutter});
    @media only screen and (max-width: $bp-l) {
      width: calc(#{$m-width} - #{$gutter});
    }
    @media only screen and (max-width: $bp-s) {
      width: calc(#{$s-width} - #{$gutter});
    }
    @media only screen and (max-width: $bp-xs) {
      width: $xs-width;
    }
}

//TODO Documentation
@mixin tendence-color() {
  &.good {
    color: $tendence-good-color-dark;
  }
  &.bad {
    color: $tendence-bad-color-dark;
  }
  &.inverted.good {
    color: $tendence-bad-color-dark;
  }
  &.inverted.bad {
    color: $tendence-good-color-dark;
  }
  &.normal.good {
    color: $tendence-good-color-dark;
  }
  &.normal.bad {
    color: $tendence-bad-color-dark;
  }
}

//TODO Documentation
@mixin direction-arrows() {
  &.down {
    &:after {
      font-family: "FmhIcons";
      content: '\E014';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
    }
  }
  &.up {
    &:after {
      font-family: "FmhIcons";
      content: '\E012';
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-left: $defaultPadding;
      padding-bottom: 2px;
    }
  }
}
