/***************************************
* Breakpoints
****************************************/
$bp-l: 1200px;
$bp-m: 800px;
$bp-s: 640px;
$bp-xs: 480px;

/***************************************
* Own Variables
****************************************/
$fullwidth: 1230px;
$defaultPadding: 6px;
$gutter: 15px;
$halfGutter: $gutter / 2;

$badColor: red;
$neutralColor: gold;
$goodColor: green;
$tendence-good-color-bright: green;
$tendence-bad-color-bright: red;
$tendence-good-color-dark: scale-color(green, $lightness: -20%);
$tendence-bad-color-dark: scale-color(red, $lightness: -20%);
