@font-face {
  font-family: 'FmhIcons';
  src: url('../../fonts/fmh.eot');
  src:url('../../fonts/fmh.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/fmh.svg#fmh') format('svg'),
    url('../../fonts/fmh.woff') format('woff'),
    url('../../fonts/fmh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}