$defaultPadding: 6px;

.button-bar {
  width: 100%;
  text-align: right;
  padding: $defaultPadding;
  margin-bottom: -1rem;
}

button {
  &.more-button {
    text-transform: uppercase;
    color: $button-active_color;
    background: $button-active_background repeat scroll 0 0;
    border: $button-active_border;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    &:before {
      font-family: FmhIcons;
      font-size: 80%;
      content: $arrow-right;
      padding-right: 0.5em;
    }
    &:hover {
      color: $button-hover_color;
      background: $button-hover_background repeat scroll 0 0;
      border: $button-hover_border;
    }
  }

  &.more-future {
    background-color: white;
    border: 2px solid $base-link-color;
    color: $base-link-color;
    padding: $defaultPadding;
    &:before {
      font-family: FmhIcons;
      font-size: 80%;
      content: $arrow-right;
      padding-right: 0.5em;
    }
  }

  &.home-button {
    text-transform: uppercase;
    color: $button-active_color;
    background: $button-active_background repeat scroll 0 0;
    border: $button-active_border;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    &:before {
      font-family: FmhIcons;
      font-size: 80%;
      content: $home;
      padding-right: 0.5em;
    }
    &:hover {
      color: $button-hover_color;
      background: $button-hover_background repeat scroll 0 0;
      border: $button-hover_border;
    }
  }
}
