.section {

  &__group {
    margin: 10px;
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 1.5em;
    color: $base-medium-color;
  }

  &__subtitle {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.25em;
    color: $neutralDarkColor;
  }

  &__noentries {
    margin-top: 1rem;
    padding: $defaultPadding;
    background-color: $neutralBaseColor;
    font-variant: small-caps;
    font-size: 125%;
  }

}