.common__table {
  @media only screen and (max-width: $bp-m) {
    display: none;
  }
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;

  .boolicon {
      &:before {
      font-family: "FmhIcons";
      font-size: $small-font-size;
      line-height: $small-font-size;
      vertical-align: middle;
      padding-right: $defaultPadding;
      padding-bottom:  2px;
    }
    &.check:before {
      color: $goodColor;
      content: '\e625';
    }
    &.cancel:before {
      color: $badColor;
      content: '\e623';
    }
  }

  .table {
    &__header {

      .header__col {
        background: $neutralBaseColor;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: $defaultPadding;
        text-align: left;
      }
    }

    &__entry {
      margin: 6px 0;

      .entry__col {
        padding: $defaultPadding;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.8rem;
        vertical-align: middle;
        line-height: 1.2rem;
        border-bottom: 2px solid $neutralBaseColor;
      }

      .entry {
        &__bank {
          display: flex;
          flex-wrap: wrap;
          padding-top: $defaultPadding;

          .bank {
            &__logo {
              width: 50%;
              @media only screen and (max-width: $bp-l) {
                width: 100%;
              }
              img {
                width: 120px;
              }
            }
            &__names {
              width: 50%;
              @media only screen and (max-width: $bp-l) {
                width: 100%;
              }
              line-height: 1.2em;
            }
            &__name {
              font-weight: bold;
              text-transform: uppercase;
            }
            &__product {
              font-weight: bold;
              margin-bottom: 0.5rem
            }
          }

        }

        &__diff-tendence {
          text-align: left;
          padding-top: 2px;
          vertical-align: middle;
          line-height: $small-font-size;

          @include tendence-color();
          @include direction-arrows();

        }

      }
    }

    &__footer {
      background: $neutralBaseColor;
      border-bottom: 2px white solid;
      td {
        padding: $defaultPadding;
      }

    }

  }
}
