/**************************************
* Import FMH-Styles
**************************************/
@import '../fmh-styles/src/colors.scss';
@import '../fmh-styles/src/fonts.scss';
@import '../fmh-styles/src/form.scss';
@import '../fmh-styles/src/icons.scss';
@import '../fmh-styles/src/global.scss';
@import '../fmh-styles/src/layout.scss';
@import '../fmh-styles/src/separators.scss';
@import '../fmh-styles/src/shared.scss';

/***************************************
* Breakpoints
****************************************/
$bp-l: 1200px;
$bp-m: 800px;
$bp-s: 640px;
$bp-xs: 480px;

/***************************************
* Own Imports
****************************************/
@import "typeface.scss";
@import "editorscorner.scss";

