$defaultPadding: 6px;

.editorscorner__compare-essential {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  max-width: 1220px;
  margin: auto;
  padding: $defaultPadding;

  .compare-content {
    display: flex;

    .compare__block {
      width: 50%;
      margin: 10px;
      border: 2px solid $neutralBaseColor;

      .compare__overview {
        display: flex;
        min-height: 166px;  // TODO: find a different solution

        .compare__logo {
          width: 25%;
          padding: $defaultPadding;
        }

        .compare__bank {
          width: 25%;
          padding: $defaultPadding;

          .compare__bankname {
            font-weight: bold;
            text-transform: uppercase;
          }
          .compare__produktname {
            font-weight: bold;
            margin-bottom: 0.5rem
          }
          .compare__guarantee, .compare__rating {
             font-size: 0.7rem;
             margin-bottom: 0;
          }

        }

        .compare__diffs {
          width: 50%;
          padding: $defaultPadding;

          .item-type {
            padding: 0 $defaultPadding;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.4rem;
          }

          .compare__diff-item {
            width: 100%;
            //border: 1px solid $neutralBaseColor;
            padding: $defaultPadding;
            //margin: 0 6px;
            font-size: 0.8rem;

            .item-ab {
              text-align: left !important;
              line-height: 0.95rem;
              font-style: italic;
              font-weight: bold;
              padding: 4px 0;
              label {
                font-weight: normal;
              }
            }

            .item-values {
              display: flex;
              align-items: center;
              height: calc(100% - 1.4rem);
              width: 100%;
              justify-content: space-between;

              .item-table {
                //width: 50%;
                font-size: 90%;
                .item-cell-value {
                  text-align: right;
                }

                .item-cell-colspan {
                  font-weight: bold;
                  label {
                    font-weight: normal;
                  }
                }
              }

              $iconSize: 1.5rem;
              .item-icon {
                //width: 50%;

                &-wrapper {
                  text-align: center;
                  padding: $defaultPadding;
                }

                .item-arrow {
                  &.good {
                    color: $tendence-good-color-dark;
                  }
                  &.bad {
                    color: $tendence-bad-color-dark;
                  }
                  &.down {
                    &:before {
                      @include fa-icon-solid('arrow-alt-circle-down');
                      font-size: $iconSize;
                    }
                  }
                  &.up {
                    &:before {
                      @include fa-icon-solid('arrow-alt-circle-up');
                      font-size: $iconSize;
                    }
                  }
                  &.minus {
                    &:before {
                      @include fa-icon-solid('minus-circle');
                      font-size: $iconSize;
                    }
                  }
                  &.plus {
                    &:before {
                      @include fa-icon-solid('plus-circle');
                      font-size: $iconSize;
                    }
                  }
                  &.change {
                    &:before {
                      @include fa-icon-solid('arrows-alt-h');
                      font-size: 1.0rem;
                      border-radius: 50%;
                      color: white;
                      padding: 0.5rem;
                    }
                    &.good:before {
                      background-color: $tendence-good-color-dark;
                    }
                    &.bad:before {
                      background-color: $tendence-bad-color-dark;
                    }
                    margin-bottom: 0.5rem;
                  }
                }

                .item-diff {
                  padding-top: 2px;
                  font-weight: bold;

                  &.good {
                    color: $tendence-good-color-dark;
                  }
                  &.bad {
                    color: $tendence-bad-color-dark;
                  }
                }
              }
            }

          }

        }
      }

      .compare__table {
        padding: $defaultPadding;

        &--title {
          display: inline-block;
          padding-bottom: 4px;
        }
        .compare__zinsen {
          width: 100%;
          .compare__header {
            background: $neutralBaseColor;
            border: solid 2px $neutralBaseColor;
          }
          .compare__tablename {
            color: $base-medium-color;
          }
          .compare__header-col {
            width: 20%;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.7rem;
            margin-bottom: 0.25rem;
            @media only screen and (max-width: $bp-s) {
              width: 33%;
            }
            padding: 0.25rem;
            text-align: left;
          }
          .compare__row-odd {
            background: white;
            border-left: solid 2px $neutralBaseColor;
            border-right: solid 2px $neutralBaseColor;
            &:last-child {
              border-bottom: solid 2px $neutralBaseColor;
              //td { padding-bottom: 1rem };
            }
          }

          .compare__row-even {
            background: $neutralBaseColor;
            border: solid 2px $neutralBaseColor;
            &:first-child {
              //td { padding-top: 1rem };
            }
          }

          .compare__entry {
          }

          .compare__entry-col {
            width: 20%;
            margin-bottom: 0.5rem;
            @media only screen and (max-width: $bp-s) {
              width: 33%;
            }
            padding: 0.25rem;

          }
          .compare__entry-label {
            font-size: 0.7rem;
            line-height: 1.4rem;
            padding-left: 0.5rem;
          }
        }
      }
    }
  }
}

