$defaultPadding: 6px;

.editorscorner__compare-tables {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  max-width: 1220px;
  margin: auto;
  padding: $defaultPadding;

  .compare__group {
    margin: 10px;

    .compare {
      &__grouptitle {
        margin-top: 2rem;
      }
      &__subtitle {
        margin-top: 0;
      }

      &__table {
//        display: none;
        width: 100%;

        .compare {
          &__header {
            .header-col {
              background: $neutralBaseColor;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 0.7rem;
              padding: $defaultPadding;
              text-align: left;
            }
          }
          &__entries {
            margin: 6px 0;
            .entry-col {
              padding: $defaultPadding;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 0.8rem;
              vertical-align: middle;
              line-height: 1.2rem;
              border-bottom: 2px solid $neutralBaseColor;
            }
            .entry {
              &__bank {
                display: flex;
                padding-top: $defaultPadding;

                .bank {
                  &__logo {
                    width: 50%;
                    img {
                      width: 120px;
                    }
                  }
                  &__names {
                    width: 50%;
                    line-height: 1.2em;
                  }
                  &__name {
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                  &__product {
                    font-weight: bold;
                    margin-bottom: 0.5rem
                  }
                }

              }

              &__interest {
                &--diff {
                  $iconSize: 0.8rem;
                  text-align: left;
                  padding-top: 2px;
                  vertical-align: middle;
                  line-height: $iconSize;
                  &.good {
                    color: $tendence-good-color-dark;
                  }
                  &.bad {
                    color: $tendence-bad-color-dark;
                  }
                  &.down {
                    &:before {
                      font-family: "FmhIcons";
                      content: '\E014';
                      font-size: $iconSize;
                      padding-right: $defaultPadding;
                      vertical-align: middle;
                    }
                  }
                  &.up {
                    &:before {
                      font-family: "FmhIcons";
                      content: '\E012';
                      font-size: $iconSize;
                      padding-right: $defaultPadding;
                      vertical-align: middle;
                    }
                  }
                }
              }

            }
          }
        }
      }

      &__cards {
          display: none;

      }
    }
  }
}




