@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../../fonts/Roboto-Regular-webfont.ttf')  format('truetype'),
       url('../../fonts/Roboto-Regular-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('../../fonts/Roboto-Bold-webfont.ttf')  format('truetype'),
       url('../../fonts/Roboto-Bold-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Roboto-Black-webfont.woff') format('woff'),
       url('../../fonts/Roboto-Black-webfont.ttf')  format('truetype'),
       url('../../fonts/Roboto-Black-webfont.svg#Roboto') format('svg');
}
