.editorscorner__interest-changes {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  max-width: $fullwidth;
  padding: $defaultPadding;
  margin: auto;

  .interest-group {
    margin: 10px;

    &__grouptitle {
      margin-top: 2rem;
      margin-bottom: 0;
    }
    &__subtitle {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    .group {
      &__table {
        margin-top: 1rem;
        width: 100%;
        @media only screen and (max-width: $bp-m) {
          display: none;
        }

        .table {
          &__header {
            .header-col {
              background: $neutralBaseColor;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 0.7rem;
              padding: $defaultPadding;
              text-align: left;
            }
          }
          &__entry {
            margin: 6px 0;
            .entry-col {
              padding: $defaultPadding;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 0.8rem;
              vertical-align: middle;
              line-height: 1.2rem;
              border-bottom: 2px solid $neutralBaseColor;
            }
            .entry {
              &__bank {
                display: flex;
                flex-wrap: wrap;
                padding-top: $defaultPadding;

                .bank {
                  &__logo {
                    width: 50%;
                    @media only screen and (max-width: $bp-l) {
                      width: 100%;
                    }
                    img {
                      width: 120px;
                    }
                  }
                  &__names {
                    width: 50%;
                    @media only screen and (max-width: $bp-l) {
                      width: 100%;
                    }
                    line-height: 1.2em;
                  }
                  &__name {
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                  &__product {
                    font-weight: bold;
                    margin-bottom: 0.5rem
                  }
                }

              }

              &__interest {
                &--diff {
                  $iconSize: 0.8rem;
                  text-align: left;
                  padding-top: 2px;
                  vertical-align: middle;
                  line-height: $iconSize;
                  &.good {
                    color: $tendence-good-color-dark;
                  }
                  &.bad {
                    color: $tendence-bad-color-dark;
                  }
                  &.down {
                    &:before {
                      font-family: "FmhIcons";
                      content: '\E014';
                      font-size: $iconSize;
                      padding-right: $defaultPadding;
                      vertical-align: middle;
                    }
                  }
                  &.up {
                    &:before {
                      font-family: "FmhIcons";
                      content: '\E012';
                      font-size: $iconSize;
                      padding-right: $defaultPadding;
                      vertical-align: middle;
                    }
                  }
                }
              }

            }
          }
        }
      }

      &__cards {
        margin-top: 1rem;
        display: none;
        @media only screen and (max-width: $bp-m) {
          display: flex;
          flex-wrap: wrap;
        }

        .cards__card {
          border: 1px solid $neutralBaseColor;
          margin: 0 $defaultPadding;
          &:nth-child(3n+1) {
            margin-left: 0;
          }
          &:nth-child(3n+3) {
            margin-right: 0;
          }
          width: calc(33% - 6px);
          @media only screen and (max-width: $bp-s) {
            width: calc(49% - 6px);
            margin-top: $defaultPadding;
            margin-bottom: $defaultPadding;
            &:nth-child(2n+1) {
              margin-left: 0;
            }
            &:nth-child(2n+2) {
              margin-right: 0;
            }
          }
          @media only screen and (max-width: $bp-xs) {
            width: 100%;
            margin: $defaultPadding 0;
          }

          .card__bank {
            display: flex;
            flex-wrap: wrap;
            margin: $defaultPadding;

            .bank {
              &__logo {
                text-align: center;
                width: 100%;
                img {
                  width: 120px;
                }
              }

              &__names {
                width: 100%;
                text-align: center;
                line-height: 1.2em;
              }

              &__name {
                font-weight: bold;
                text-transform: uppercase;
              }

              &__product {
                font-weight: bold;
                margin-bottom: 0.5rem
              }
            }

          }

          .card__interest {
            display: flex;
            flex-wrap: wrap;
            padding: $defaultPadding;
            background-color: $neutralBaseColor;
            font-size: $small-font-size;
            font-weight: bold;

            .interest__title {
              width: 100%;
              font-variant: small-caps;
            }

            .interest__values {
              width: 50%;

              .label {
                font-variant: small-caps;
                font-size: 90%;
              }
            }

            .interest__changes {
              width: 50%;
              text-align: center;

              .change__icon {
                margin: auto;
                $iconSize: 0.8rem;
                text-align: center;
                line-height: $iconSize;

                &.good {
                  color: $tendence-good-color-dark;
                }

                &.bad {
                  color: $tendence-bad-color-dark;
                }

                &.down {
                  &:before {
                    font-family: "FmhIcons";
                    content: '\E014';
                    font-size: $iconSize;
                    padding-right: $defaultPadding;
                    vertical-align: middle;
                  }
                }

                &.up {
                  &:before {
                    font-family: "FmhIcons";
                    content: '\E012';
                    font-size: $iconSize;
                    padding-right: $defaultPadding;
                    vertical-align: middle;
                  }
                }
              }

              .change__value {

                &.good {
                  color: $tendence-good-color-dark;
                }

                &.bad {
                  color: $tendence-bad-color-dark;
                }
              }

            }
          }

          .card__extended {
            font-size: $small-font-size;
            margin: $defaultPadding;

            .extended__label {
              font-variant: small-caps;
              font-size: 90%;
            }

            .extended__value {
              padding-left: 4px;
            }

          }
        }

      }
    }
  }
}




