.editorscorner__top5 {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  max-width: 1230px;
  margin: auto;
  padding: 6px;

  .top5 {
    &__wrapper {
      margin: 0 0.5rem;
    }

    &__headline1 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    &__headline2 {
      margin-top: 0;
      margin-bottom: 0.25rem;
    }

    &__settings {
      width: 100%;
      padding: 8px;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      border: 2px $neutralBaseColor solid;

      &--label {
        font-size: 0.8rem;
      }

      &--value {
        font-size: 0.8rem;
      }

    }

    &__table {
      .top5 {
        &__entries {
          margin-top: 0.5rem;
          margin-bottom: 2rem;
        }

        &__entry, &__header {
          display: flex;
          flex-grow: 1;
          flex-wrap: wrap;
          align-items: center;
          justify-content: left;
          text-align: left;
          padding: 0.5rem;
          overflow: hidden;
        }

        &__header {
          background: $neutralBaseColor;
          border-bottom: 2px white solid;
        }

        &__footer {
          background: $neutralBaseColor;
          border-bottom: 2px white solid;
          .footer-more {
            text-align: right;
            padding: 0.25rem 0.5rem;
            a {
              &:before {
                margin: 0 .25em 0 -.75em;
                display: inline-block;
                content: "\BB";
              }
              display: inline-block;
              font-size: 14.5px;
              color: #1792d0;
              line-height: 1.4em;
              vertical-align: middle;
              margin: .4em 0 .4em .8em;
              text-decoration: none;
            }
          }
        }

        &__entry {
          background: $neutralLightColor;
          border-bottom: 2px solid white;
          align-items: flex-start;

        }

        &__header, &__entry {
          @media only screen and (max-width: $bp-m) {
            font-size: 90%;
          }
          @media only screen and (max-width: $bp-s) {
            font-size: 85%;
          }
          @media only screen and (max-width: $bp-xs) {
            font-size: 80%;
          }

          .col-prio-2 {
            @media only screen and (max-width: $bp-s) {
              display: none;
            }
          }
          .col-prio-3 {
            @media only screen and (max-width: $bp-m) {
              display: none;
            }
          }
          .col-bank {
            width: 28%;
            font-weight: bold;
          }

          .col-item {
            width: 14%;
            @media only screen and (max-width: $bp-m) {
              width: 18%;
            }
            @media only screen and (max-width: $bp-s) {
              width: 24%;
            }
          }
        }

        &__header-col {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.7rem;
          margin-bottom: 0.25rem;
        }

        &__entry-col {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__table.combi-var {
      .top5 {

        &__entry {
          background: white;
          border-bottom: 2px solid $neutralBaseColor;

          .col-bank {
            display: flex;
            padding-top: $defaultPadding;

            .bank {
              &__logo {
                width: 50%;
                img {
                  width: 120px;
                }
              }
              &__names {
                width: 50%;
                line-height: 1.2em;
              }
              &__name {
                font-weight: bold;
                text-transform: uppercase;
              }
              &__product {
                font-weight: bold;
                margin-bottom: 0.5rem
              }
            }
          }
        }

        &__header, &__entry {
          .col-bank {
            width: 28%;
          }
          .col-item {
            width: 18%;
          }
        }

        &__entries.newclients {
          .top5__header, .top5__entry {
            .col-bank {
              width: 24%;
            }
            .col-item {
              width: 12.5%;
            }
          }
        }

        &__footer {
          // display: inline-block;
          text-align: right;
          .footer-more {
            font-size: 14.5px;
            width: 220px;
            background-color: white;
            border: 2px solid $base-link-color;
            color: $base-link-color;
            padding: 0.25rem 0.5rem;
            line-height: 1.4em;
            vertical-align: middle;
            margin: 0.4em;
            text-decoration: none;

            &:before {
              font-family: FmhIcons;
              font-size: 80%;
              content: $arrow-right;
              padding-right: 0.5em;
            }
          }
        }

      }
    }

    &__overview {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    &__cards {
      $top1Color: #008800;
      $topLevelStep: -10%;
      $top2Color: scale-color($top1Color, $lightness: $topLevelStep);
      $top3Color: scale-color($top1Color, $lightness: $topLevelStep*2);
      $top4Color: scale-color($top1Color, $lightness: $topLevelStep*3);
      $top5Color: scale-color($top1Color, $lightness: $topLevelStep*4);
      $topZColor: #dd0000;
      $cardWidthL: 16.4%;
      $cardWidthM: 33%;
      $cardWidthS: 50%;
      $gutter: 15px;
      $halfGutter: $gutter / 2;
      $defaultPadding: 10px;

      display: flex;
      //border: 1px solid $neutralBaseColor;
      margin: $halfGutter * -1;

      .top5 {

        &__chart, &__card {
          margin: $halfGutter;
          padding: 0;
        }

        &__chart {
          //border-radius: 0;
          border: $neutralMediumColor 1px solid;
          width: calc(#{$cardWidthL * 2} );
          @media only screen and (max-width: $bp-l) {
            width: calc(#{$cardWidthM * 2} - 15px);
          }
          @media only screen and (max-width: $bp-s) {
            width: calc(#{$cardWidthS * 2} - 15px);
          }
          @media only screen and (max-width: $bp-xs) {
            width: 100%;
          }
          .chart-image {
            margin-left: auto;
            margin-right: auto;
            width: 375px;
            @media only screen and (max-width: $bp-xs) {
              width: 320px;
            }
          }
        }
        &__card {
          border-radius: 0;
          border: $neutralMediumColor 1px solid;
          width: calc(#{$cardWidthL} - 15px);
          @media only screen and (max-width: $bp-l) {
            width: calc(#{$cardWidthM} - 15px);
          }
          @media only screen and (max-width: $bp-s) {
            width: calc(#{$cardWidthS} - 15px);
          }
          @media only screen and (max-width: $bp-xs) {
            width: 100%;
          }

          .top5__segment {
            &-head, &-content {
              padding: $defaultPadding;
            }

            &-head {
              height: 4.25rem;
              div {
                padding: 0;
              }

              .head-count {
                // margin-top: -10px;
                margin-top: 4px;    // TODO: it's differnt in patternlab then django! Why???
                float: left;
                font-size: 2.4rem;
              }

              .head-bank {
                margin-top: -3px;
                margin-left: 2rem;
                font-weight: bold;
                .bankname {
                  text-transform: uppercase;
                }
                .productname {
                  font-size: smaller;
                }
              }
            }

            &-content {
              border-top: 2px black solid;

              .top5__item {
                display: flex;
                line-height: 1.5rem;
                vertical-align: middle;
                justify-content: space-between;

                .label {
                  width: 50%;
                  font-size: 70%;
                  color: $dark-grey-text-color;
                }
                .value {
                  font-size: 80%;
                  text-align: right;
                }
              }
            }
          }

          &.top1 {
            .top5__segment-head .head-count {
              color: $top1Color;
            }
            .top5__segment-content {
              border-top: 2px $top1Color solid;
            }
          }
          &.top2 {
            .top5__segment-head .head-count {
              color: $top2Color;
            }
            .top5__segment-content {
              border-top: 2px $top2Color solid;
            }
          }
          &.top3 {
            .top5__segment-head .head-count {
              color: $top3Color;
            }
            .top5__segment-content {
              border-top: 2px $top3Color solid;
            }
          }
          &.top4 {
            .top5__segment-head .head-count {
              color: $top4Color;
            }
            .top5__segment-content {
              border-top: 2px $top4Color solid;
            }
          }
          &.top5 {
            .top5__segment-head .head-count {
              color: $top5Color;
            }
            .top5__segment-content {
              border-top: 2px $top5Color solid;
            }
          }
          &.topZ {
            .top5__segment-head .head-count {
              color: $topZColor;
            }
            .top5__segment-content {
              border-top-color: $topZColor;
            }
          }
        }
      }
    }

    &__noentries {
      margin: 0.5rem;
    }
  }
}
