$font-family__normal: 'Roboto', arial, helvetica, sans-serif;
$font-family__headline: 'Roboto', arial, helvetica, sans-serif;

$font-size__headline: 20px;
$font-size__normal: 14.5px;
$font-size__title: 16.5px;
$font-size__small: 12.5px;

$line-height__normal: 1.6em;
$line-height__input: 2em;
