@font-face {
  font-family: 'FmhIcons';
  src: url('../../fonts/fmh.eot');
  src:url('../../fonts/fmh.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/fmh.svg#fmh') format('svg'),
    url('../../fonts/fmh.woff') format('woff'),
    url('../../fonts/fmh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$arrow-left:            "\e60c";
$arrow-down:            "\e60d";
$arrow-up:              "\e60e";
$arrow-right:           "\e60f";

.toggleBox {

  &__wrapper {

  }

  &__button {
    &:before {
      font-family: "FmhIcons";
      font-size: 80%;
      content: $arrow-right;
    }
    &.isOpen {
      &:before {
        font-family: "FmhIcons";
        font-size: 80%;
        content: $arrow-down;
    }
    }
  }

  &__box {
    display: none;
    &.showBox {
      display: block;
    }
  }

}
