$base-dark-color: #003f8d;
$base-medium-color: #1792d0; //was: #0078bb;
//$base-light-color: #3faddb;
$base-light-color: #3294cf;
//$base-medium-line-color: #3faddb;
$base-medium-line-color: #3294cf;

$base-alert-color: #f49a2a;
$alertBaseColor: #f49a2a;
$alertDarkColor: $alertBaseColor;
$alertMediumColor: lighten(#f49a2a, 10);
$alertLightColor: lighten(#f49a2a, 20);

$error-color: #900;

// use for headlines, links etc
$base-extra-text-color: #1792d0;
$base-link-color: #1792d0;

$base-text-color: #333;
$soft-grey-text-color: #ddd;
$medium-grey-text-color: #aaa;
$dark-grey-text-color: #454545;

$light-grey-color: #eaeaea;

$android-color: #a4c739;

$neutralBaseColor: #ddd;
$neutralDarkColor: #454545;
$neutralMediumColor: #bbb;
$neutralLightColor: #efefef;

$dark-grey-text-color: #454545;

$field-border-color: red;
