$standard-font-family: 'Roboto', arial, helvetica, sans-serif;
$headline-font-family: 'Roboto', arial, helvetica, sans-serif;


$headline-font-size: 20px;
$title-font-size: 16.5px;
$standard-font-size: 14.5px;
$small-font-size: 12.5px;

$standard-line-height: 1.4em;
$headline-line-height: 1.6em;

$title-margin: 0 0 0.1em;
$subtitle-margin: 0.1em 0 0.7em;


//$fontScale: 0.8;

@mixin font--par {
  font-size: $standard-font-size; 
  font-family: $standard-font-family;
}

@mixin font--text-field {
  font-size: $standard-font-size;
  line-height: 1.6em;  
}
