@import './separators.scss';

$layout__max-width: 1200px;

$layout__box--hor-margin: 10px;
$layout__box--vert-margin: 15px;
$layout__box--min-width: 250px;


$horMargin: $layout__box--hor-margin; // $horMargin  deprecated 
$vertMargin: $layout__box--vert-margin; // $vertMargin deprecated

// total width of visible  elements

.layout {
  margin: 0 auto;
  width: calc(100% - #{2 * $layout__box--hor-margin});
  // before making changes check with separators 
  max-width: #{$layout__max-width + (2 * $layout__box--vert-margin)};
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;  
  flex-flow: row wrap;
  justify-content: space-between; 
  position: relative;
}


// flex shorthand for flex-grow, flex-shrink and flex-basis

@mixin calcFlex(
  $fraction,
  $times: 1 
) {
  $percentage: (100 / $fraction) * $times;
  $calculatedHorMargin: 2 * $layout__box--hor-margin;
  $growth: 100 / $fraction;
  $shink: 100 / $fraction;
  min-width: $layout__box--min-width;
  margin: $layout__box--vert-margin $layout__box--hor-margin; 

  flex-grow: 1;//$times;
  flex-shrink: 1;//$times;
  flex-basis: calc(#{$percentage}% - #{$calculatedHorMargin});
}

.layout__separator {
  @include separator;
}

.layout__separator--line {
  @include separator--line;
}

.layout__separator--1 {
  @include calcFlex(1);  
}

.layout__demo {
  border: 1px solid #ddd;
}

// total 1 / 1
.layout__1 {
  //margin: 5px;
  @include calcFlex(1);
  //flex: 1 1 100%;
}

// half 1 / 2
.layout__2 {
  //margin: 5px;
  //flex: 1 1 calc(50% - 10px);
  //min-width: 320px;
  @include calcFlex(2);
}

// third 1 / 3
.layout__3 {
  //flex: 1 1 33.3%;
  @include calcFlex(3);
}

// two thirds 
// one third by 2 
.layout__3x2 {
  // flex: 1 1 33%;
  @include calcFlex(3, 2);
}

// fourth 1 / 4 
.layout__4 {
  // flex: 1 1 25%;
  @include calcFlex(4);
}

// three fourths 3 / 4  
// one fourth by 3
.layout__4x3 {
  // flex: 1 1 25%;
  @include calcFlex(4, 3);
}

// fifth 1 / 5 
.layout__5 {
  // flex: 1 1 20%;
  @include calcFlex(5);
}

// fifth 1 / 5 
.layout__5x2 {
  // flex: 1 1 40%;
  @include calcFlex(5,2);
}

.layout__5x3 {
  // flex: 1 1 60%;
  @include calcFlex(5,3);
}

