.header-site__logo {
  margin: 5px 5px 5px 0px;
}

.header-site {
  font-family: $standard-font-family;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;

  a {
    color: $base-medium-color;
  }
}

.header-site__logo-bar {
  font-family: $standard-font-family;
  font-size: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  figure {
    padding-right: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  img {
    margin-top: 10px;
    padding-left: 17px;
  }
}

.header-site__login {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex-grow: 1;
  flex-wrap: wrap;

  .login__cta {
    padding-left: 20px;
  }

  .login__text {
    color: $base-medium-color;
    font-size: 0.8rem;
  }
}

.page__subtitle {
  font-weight: 500;
}

.page__nav-site {
  font-family: $standard-font-family;
  padding-top: 66px;
  padding-bottom: 30px;

  img {
    padding-right: 25px;
  }

  .claim {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 0;

    color: white;
    font-size: 20px;
  }

}

@media screen and (max-width: 1074px) {
  .page__nav-site {
    padding-top: 24px;
    box-shadow: none;
  }
}