<div style="background-color: #ebebeb; padding: 50px;">
    <button class="button{{modifier_class}}">Button Element</button>
    <input type="button" class="button{{modifier_class}}" value="input[type='button']" />
</div>