.html, .body {
  height:100%; // fix IE11 
  min-height:100%; // fix IE11  
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*

Global

Style Guide: Global

*/

/*

Assets


Style Guide: Global.assets

*/

/*

FMH-Logo

Markup:
<div class="sample__asset sample__asset--fmh-logo"></div>

Style Guide: Global.assets.logo

*/

/*

FMH-Claim

Markup:
<div class="sample__asset sample__asset--fmh-claim"></div>

Style Guide: Global.assets.claim

*/

